$test: 1px solid red

body
    margin: 0 auto
    width: 80vw
    background-color: rgba(197, 147, 105, 0.8)
    font-family: 'Noto Sans', sans-serif
h1
    text-align: center
.input
    width: 80vw
    height: 30vh
    resize: none
.keyboard
    width: 80vw
button
    background-color: #ffffff
    border-radius: 1px
    padding: 10px 15px
    margin: 1px 0
    cursor: pointer
button:hover
    background-color: #ffe6d1
    color: #1d2d56
    transition: all 0.3s ease 0s
button:active
    background-color: #ff7300
    transform: translate(1px,1px)
    animation-duration: 21s
    transition: all 0.2s ease 0s
.active
    background-color: #ff7300
    transform: translate(1px,1px)
    animation-duration: 21s
    transition: all 0.2s ease 0s
.left-btn, .right-btn, .up-btn, .down-btn
    width: 15px
// #Tab
//     margin-left: $margin80px
// #Caps
//     margin-left: $margin80px
// #Shift
//     margin-left: $margin80px
// #Ctrl
//     margin-left: $margin80px + 216px
// #Space
//     margin-right: $margin80px
//     width: 300px