$test: 1px solid red

body
    margin: 0 auto
    width: 60vw
    background-color: #4b5f83
    font-family: 'Roboto Condensed', sans-serif
    font-size: 2rem
h1
    text-align: center
    color: #e2b492
.input
    width: 60vw
    height: 20vh
    resize: none
.keyboard
    display: flex
    flex-direction: column
    margin-top: 2vh
    padding: 10px
    background-color: #b3b3b3
button
    background-color: #ffffff
    border-radius: 5px
    border: none
    flex-grow: 1
    color: #434e62
    margin: 1px 1px
    cursor: pointer
button:hover
    background-color: #e2d7a7
    color: #1d2d56
    transition: all 0.3s ease 0s
button:active
    background-color: #c58f68
    transform: translate(1px,1px)
    animation-duration: 21s
    transition: all 0.2s ease 0s
.active
    background-color: #c58f68
    transform: translate(1px,1px)
    animation-duration: 21s
    transition: all 0.2s ease 0s
.row
    display: flex
    min-height: 8vh
#ShiftLeft , #ShiftRight
    position: relative
#CapsLock
    position: relative
.togglePointer
    display: inline-block
    position: absolute
    top: 5px
    right: 6px
    border: 1px solid #b3b3b3
    border-radius: 50%
    width: 7px
    height: 7px
.togglePointer-active
    background-color: #20d43e
#Space
    flex-grow: 9
#ShiftLeft
    flex-grow: 2
#Space:after
    content: '\0020'
#ArrowUp:after
    content: '\2191'
#ArrowLeft:after
    content: '\2190'
#ArrowDown:after
    content: '\2193'
#ArrowRight:after
    content: '\2192'
#sound
    width: 2.8rem
    display: block
    margin-left: auto
    margin-right: auto
    height: 100%
@media (max-width: 1000px)
    body, h1, .input
        width: 90vw
        font-size: 1rem
    .row
        min-height: 5vh
    .togglePointer
        top: 4px
        right: 4px
        width: 5px
        height: 5px
    #sound
        width: 1.6rem
@media (max-width: 760px)
    body, h1, .input
        width: 90vw
        font-size: 1rem
    .row
        min-height: 5vh
    .togglePointer
        top: 4px
        right: 4px
        width: 5px
        height: 5px
    #sound
        width: 1.6rem
@media (max-width: 500px)
    body, h1, .input
        width: 99vw
        font-size: 0.8rem
    .row
        min-height: 3vh
    .togglePointer
        top: 2px
        right: 3px
        width: 1px
        height: 1px
    #sound
        width: 1rem
